:root {
    --gap: 0px;
    --columns: 12
  }

html {
    font-family: system-ui, sans-serif;
    background: black;
    background-size: 224px;
}

.presentation-container{
    display: grid;
    grid-template-columns: repeat(var(--columns), calc((100% - (var(--columns) - 1) * var(--gap)) / var(--columns)));
    gap: var(--gap);
    margin-inline: 12px;
}

.content-container{
    display: grid;
    grid-template-columns: repeat(var(--columns), calc((100% - (var(--columns) - 1) * var(--gap)) / var(--columns)));
    gap: var(--gap);
    margin-inline: 12px;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    color: white;
    margin-inline: 12px;
}

.CD-card {
    border: 1px solid white;
    color: white;
    grid-column: span 3;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.CD-card:after {
    content: "";
    display: block;
  }

.img-container {
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cd-img {
    width: 70%;
}

.text-container {
    padding-left: 20px;
}

.text-container h2, .text-container p {
    visibility: hidden; /* Masque les éléments */
}


.presentation {
    color: white;
    margin-inline-start: 12px;
    margin-bottom: 40px;
    grid-column: span 4;
}