---
import CdBox from '../components/CdBox.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'

const cds = [
  { img: '/images/img01.webp', title: 'Fake Love', body: 'Prod. by : COuture - 138 BPM', mp3: '/sounds/sound01.mp3'},
  { img: '/images/img02.webp', title: 'Obsession', body: 'Prod. by : Horaze - 125 BPM', mp3: '/sounds/sound02.mp3' },
  { img: '/images/img03.webp', title: 'Diggin graves', body: 'Prod. by : Lewis Amber - 93 BPM', mp3: '/sounds/sound03.mp3' },
  { img: '/images/img04.webp', title: 'Stars fall around me', body: 'Prod. by : Horaze - 126 BPM', mp3: '/sounds/sound04.mp3' },
  { img: '/images/img05.webp', title: 'Daily Dream', body: 'Prod. by : Horaze - 128 BPM', mp3: '/sounds/sound05.mp3' },
  { img: '/images/img06.webp', title: 'Reste avec moi', body: 'Prod. by : Lewis Amber - 132 BPM', mp3: '/sounds/sound06.mp3' },
  { img: '/images/img07.webp', title: 'Batterie 10%', body: 'Prod. by : Lewis Amber - 114 BPM', mp3: '/sounds/sound07.mp3' },
  { img: '/images/img08.webp', title: 'Bleed', body: 'Prod. by : Horaze - 114 BPM', mp3: '/sounds/sound08.mp3' },
  { img: '/images/img09.webp', title: 'Missil', body: 'Prod. by : COuture - 130 BPM', mp3: '/sounds/sound09.mp3' },
  { img: '/images/img10.webp', title: 'My People', body: 'Prod. by : Horaze - 122 BPM', mp3: '/sounds/sound10.mp3' },
  { img: '/images/img11.webp', title: 'Limitless', body: 'Prod. by : Horaze - 128 BPM', mp3: '/sounds/sound11.mp3' },
  { img: '/images/img12.webp', title: 'Frozen', body: 'Prod. by : Horaze - 130 BPM', mp3: '/sounds/sound12.mp3' },
  { img: '/images/img13.webp', title: 'VVS', body: 'Prod. by : COuture - 150 BPM', mp3: '/sounds/sound13.mp3' },
];
---

<Layout title="Disrupt sound">
  <div class="presentation-container">
    <p class="presentation"><span class="italic">Disrupt</span> est un collectif de producteur Parisiens composé de Tenma, C0UTURE, Horaze et Lewis Amber. Leur objectif est de promouvoir leur musique et de toucher de nouveaux rappeurs. Ils distribuent leurs musiques via youtube et ont déjà collaboré avec des artiste comme <span class="italic">Damso</span>, <span class="italic">Luidji</span> ou bien <span class="italic">Jäde</span>.</p>
  </div>
	<div class="content-container">
		{cds.map(cd => (
		  <CdBox img={cd.img} title={cd.title} body={cd.body} mp3={cd.mp3}/>
		))}
	</div>
</Layout>
