---
import CdBox from '../components/CdBox.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'
---

<Layout title="Welcome to Astro.">
	<h1>Disrupt sound</h1>
	<div class="content-container">
	<CdBox img='caca' title='Bouteille Bleu' body='120 BPM'/>
	<CdBox img='caca' title='Bouteille Bleu' body='120 BPM'/>
	<CdBox img='caca' title='Bouteille Bleu' body='120 BPM'/>
	<CdBox img='caca' title='Bouteille Bleu' body='120 BPM'/>
	</div>
</Layout>
